body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    
}
#tomato{
    border-left: 5px solid tomato;
}
#blue{
    border-left: 5px solid;
    border-image: linear-gradient(#3806ec, #08c3fc) 30;
    /* border-left: 5px solid tomato; */
}
footer p{
    text-align: center;
}