body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    font-size: 50px;
}
.orange-color{
    color:orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange, tomato);
    color: white;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
}